* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#loadingIndicator {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
}

.spinner {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top: 8px solid #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 10px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#progressContainer {
  width: 100%;
  background-color: #ddd;
  height: 10px;
  margin-top: 10px;
}

#progressBar {
  width: 0%;
  height: 10px;
  background-color: #4caf50;
}

#loadingMessage {
  margin-top: 10px;
}

/* .spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #4b9cdb;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#loadingIndicator {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
} */

sup {
  color: red;
  font-size: 12px;
}
.verifyOTP {
  display: none;
}
.error {
  /* position: absolute; */
  color: red;
  font-size: 12px;
  margin-left: 15px;
}
#NameError,
#mobileError,
#showMobile10digitError,
#emailError,
#emailvalidError,
#genderError,
#dobError,
#maritalError,
#educationError,
#incomeError,
#panCardError,
#panCardvalidError,
#employmentError,
#currentpincodeError{
  display: none;
}
.hidden {
  display: none;
}

/* navbar section start */

.nav-container {
  background-color: #cff1ff;
}

.nav {
  width: 200px;
  /* background-color: #4eadd2; */
}

.hero-nav-box {
  /* padding-bottom: 40px; */
}

.nav-btn {
  padding-bottom: 80px;
}

.nav img {
  width: 70%;
}

/* tablet device */
@media (min-width: 500px) and (max-width: 890px) {
  .nav img {
    width: 70%;
  }
}

/* mobile device */
@media (min-width: 300px) and (max-width: 490px) {
  .nav img {
    width: 50%;
  }
}

/* navbar section end */

/* hero-home-page start */

.hero-home-page {
  gap: 200px;
}

.hero-home-content {
  flex-basis: 40%;
  padding: 100px 0 110px 60px;
  background-repeat: no-repeat;
  color: #fff;
  background: no-repeat;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgb(78, 124, 152, 0.8),
      rgb(78, 124, 152)
    ),
    url(images/credit-score-bg.jpg);
}

.carousel {
  margin-top: 100px;
}

.credit-number-box {
  width: 40px;
  height: 40px;
  border: 2px dashed #ffffff;
  text-align: center;
  padding-top: 5px;
  border-radius: 50%;
}

.credit-content {
  gap: 25px;
}

.credit-content-text p {
  margin-top: 20px;
}

.report-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
}

/* small laptop device */
@media (min-width: 900px) and (max-width: 1200px) {
  .hero-home-page {
    gap: 80px;
  }

  .hero-home-content {
    flex-basis: 40%;
    padding: 60px 0 180px 20px;
  }

  .hero-home-content h3 {
    /* font-size: 26px; */
  }

  .hero-home-content p {
    font-size: 15px;
  }

  .hero-home-content {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgb(2, 45, 72, 0.8),
        rgb(2, 45, 72)
      ),
      url(images/credit-score-bg-small-lp.jpg);
  }
}

/* tablet device */
@media (min-width: 768px) and (max-width: 899px) {
  .hero-home-page {
    gap: 25px;
  }

  .hero-home-content {
    flex-basis: 40%;
    padding: 50px 0 10px 20px;
  }

  .hero-home-content h3 {
    font-size: 22px;
  }

  .hero-home-content p {
    font-size: 12px;
  }

  .hero-home-content a {
    font-size: 14px;
  }

  .carousel {
    /* margin-top: 40px; */
  }

  .credit-content-text h4 {
    font-size: 20px;
  }

  .credit-content-text h4 {
    font-size: 20px;
  }

  .credit-content-text p {
    margin-top: 0px;
  }

  .credit-content {
    gap: 20px;
  }

  .hero-home-content {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgb(2, 45, 72, 0.8),
        rgb(2, 45, 72)
      ),
      url(images/credit-score-bg-table.jpg);
  }
}

@media (min-width: 500px) and (max-width: 767px) {
  .hero-home-page {
    gap: 25px;
  }

  .hero-home-content {
    display: none;
    flex-basis: 50%;
    padding: 20px 0 10px 20px;
  }

  .hero-home-content h3 {
    font-size: 25px;
  }

  .hero-home-content p {
    font-size: 13px;
  }

  .hero-home-content a {
    font-size: 15px;
  }

  .hero-home-page-form {
    padding-left: 60px;
  }

  .hero-home-page-form h2 {
  }
}

/* mobile device */
@media (min-width: 300px) and (max-width: 490px) {
  .hero-home-page {
    /* gap: 200px; */
  }

  .hero-home-content {
    display: none;
  }

  .hero-home-page-form {
  }

  .hero-home-page-form h2 {
    padding-left: 10px;
  }

  .hero-home-page-form p {
    font-size: 12px;
    padding-left: 10px;
    margin: 0;
  }

  .hero-home-page-form .form-step {
    margin-left: 0px;
  }
}

/* hero-home-page end */

/* hero section start */

.hero-section {
  background-color: #002b50;
  font-family: "poppins";
  background: linear-gradient(-180deg, #002b50, #4592c2);
  color: #235d80;
  color: #fafafa;
  padding: 20px;
}

.hero-heading,
.Congress-boxs {
  padding: 0px 0;
  margin: 0;
  padding-bottom: 100px;
}

.hero-nav h4 {
  margin: 0;
}

.hero-nav {
  /* margin-bottom: 80px; */
}

.hero-content-container {
  padding: 0 40px;
}

.hero-home-page-heading-mob {
  display: none;
}

.hero-home-page-form .form-step .basic-input-box .otpbtn {
  /* margin: 0; */
}

.hero-home-page-form .form-step .basic-input-box {
  text-align: center;
}

.hero-home-page-form .form-step .basic-input-box .error {
  text-align: start;
  margin-left: 50px;
}
.hero-home-page-form .form-step .basic-input-box .basic-input-box-title {
  left: 50px;
}

.hero-home-page-form .form-step .basic-input-box {
  /* text-align: center; */
}

/* small laptop device */
@media (min-width: 900px) and (max-width: 1200px) {
}

/* tablet device */
@media (min-width: 490px) and (max-width: 786px) {
  .hero-heading {
    padding: 20px 0;
    padding-bottom: 100px;
  }

  .hero-heading h2 {
    font-size: 22px;
  }

  .hero-heading p {
    font-size: 14px;
  }
}

@media (min-width: 500px) and (max-width: 767px) {
  .form-heading-container {
    flex-direction: column;
  }
}

/* mobile device */
@media (min-width: 300px) and (max-width: 490px) {
  .hero-heading {
    padding: 20px 0;
    padding-bottom: 100px;
  }

  .hero-heading h2 {
    font-size: 22px;
  }

  .hero-heading p {
    font-size: 14px;
  }

  .hero-nav {
    margin-bottom: 80px;
  }

  .basic-input-checkbox input[type="checkbox"] {
    /* width: 12px; */
    margin-top: -85px;
  }

  .hero-home-page-heading-mob {
    display: block;
    background-color: #80c8e7;
    padding: 0 10px;
  }

  .hero-home-page-heading-mob h2 {
    font-size: 20px;
  }

  .hero-home-page-heading-mob p {
    font-size: 12px;
  }

  .hero-home-page-heading-web {
    display: none;
  }

  .hero-home-page-form .form-step .basic-input-box .basic-input-box-title {
    left: 30px;
  }
}

@media (min-width: 330px) and (max-width: 490px) {
  .hero-home-page-form .form-step .basic-input-box .basic-input-box-title {
    left: 70px;
  }
  .hero-home-page-form .basic-input-box .otpbtn {
    /* margin-left: -60px; */
  }
}

/* hero section end */

/* terms snd condition container start */
.privacy-box {
  flex-direction: column;
}

.input-checkbox {
  display: flex;
}

.basic-input-checkbox input[type="checkbox"] {
  /* width: 12px; */
  margin-top: -20px;
  border-radius: 2px;
}

.basic-input-checkbox p {
  font-size: 12px;
  margin-left: 5px;
}

.basic-input-checkbox p a {
  text-decoration: none;
  font-weight: 600;
  color: #000;
}

/* terms snd condition container end */

/* process bar section start  */

.progress-container {
  width: 100%;
  background-color: #f3f3f3;
  /* margin: 20px 0; */
  position: relative;
  border-radius: 50px;
}

.progress-bar {
  width: 15%;
  height: 7px;
  border-radius: 50px;
  background-color: #4caf50;
}

.progress-text {
  position: absolute;
  width: 100%;
  /* text-align: center; */
  top: -25px;
  right: 0px;
  font-size: 16px;
}

/* process bar section end*/

/* form section start  */

.form-heading-container {
  margin-top: -100px;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2));
}

.form-section {
  min-width: 300px;
  padding: 40px 40px 20px 40px;
  border-radius: 20px;
  background-color: #ffffff;
}

.form-step {
  /* background-color: #002b50; */
  margin-top: 20px;
  min-width: 320px;
  animation: animate 0.5s;
}

.basic-input-box {
  position: relative;
  margin: 15px 0;
}

.basic-input-box .basic-input-box-title {
  position: absolute;
  top: -7px;
  left: 20px;
  padding: 3px 10px;
  font-size: 12px;
  font-weight: 500;
  /* text-shadow: 1px 1px 5px rgb(0, 30, 255, 0.3); */
  background-color: #ffffff;
}

.basic-input-box input[type="text"],
.basic-input-box input[type="email"],
.basic-input-box input[type="date"],
.basic-input-box input[type="number"],
.basic-input-box select {
  width: 350px;
  padding: 14px 15px;
  margin: 5px 10px;
  font-size: 14px;
  font-weight: 400;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  outline: none;
  border: 1px solid #738cba;
  /* filter: drop-shadow(1px 1px 2px rgb(0, 30, 255, 0.3)); */
}

.basic-input-box .otpbtn {
  margin-left: -35px;
  /* margin-bottom: 10px; */
  padding: 7px 10px;
  font-size: 17px;
  font-weight: 500;
  /* background: rgb(212, 212, 212); */
  border: none;
  border-radius: 5px;
  /* appearance: none; */
  outline: none;
  transition: 0.5s;
  background-color: #235d80;
  color: #ffffff;
  border: 2px solid #235d80;
}

.basic-input-checkbox {
  display: flex;
  /* width: 320px; */
  /* align-items: center; */
}

.basic-input-checkbox p {
  width: 350px;
  font-size: 12px;
  margin-left: 5px;
  margin-bottom: 0;
}

.basic-input-checkbox p a {
  text-decoration: none;
  font-weight: 600;
  color: #000;
}

@media (min-width: 300px) and (max-width: 499px) {
  .form-step {
    margin-left: 20px;
  }

  .basic-input-box input[type="text"],
  .basic-input-box input[type="email"],
  .basic-input-box input[type="date"],
  .basic-input-box input[type="number"],
  .basic-input-box select,
  .basic-input-checkbox p {
    width: 270px;
  }

  .basic-input-checkbox input[type="checkbox"] {
    margin-top: -35px;
    /* margin-left: 20px; */
  }
}

.credit-score-container {
  /* padding: 10px 0 0px 0; */
  /* padding-bottom: 5px; */
}

.credit-score-container b {
  /* font-size: 12px; */
  margin: 0;
}

.credit-score-container img {
  width: 30%;
}

/* small laptop device */
@media (min-width: 900px) and (max-width: 1200px) {
  .credit-score-container b {
    font-size: 14px;
    margin: 0;
  }

  .credit-score-container img {
    width: 30%;
  }
}

/* tablet device */
@media (min-width: 768px) and (max-width: 899px) {
  .credit-score-container b {
    font-size: 14px;
    margin: 0;
  }

  .credit-score-container img {
    width: 25%;
  }
}

@media (min-width: 500px) and (max-width: 767px) {
  .credit-score-container b {
    font-size: 13px;
    margin: 0;
  }

  .credit-score-container img {
    width: 18%;
  }
}

/* mobile device */
@media (min-width: 300px) and (max-width: 767px) {
  .credit-score-container b {
    font-size: 12px;
    margin: 0;
  }

  .credit-score-container img {
    width: 35%;
  }
}

/* form-2 section start */

/* gender and Marital status section start */

.gender-container,
.marital-container {
  display: flex;
  /* justify-content: space-evenly; */
  gap: 25px;
  align-items: center;
  margin: 7px 5px;
}

.gender-box,
.marital-box {
  width: 110px;
  height: 220px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  border-radius: 10px;
  /* padding: 10px; */
  cursor: pointer;
  transition: 0.3s;
  background-color: #f0f0f0; /* Example: light gray */
  color: black;
  border: 2px solid #ccc; /* Light gray border */
}

.gender-box:hover,
.marital-box:hover {
  border: 2px solid #002b50;
  font-size: bold;
  background-color: #3895b4;
  color: #ffffff;
}

/* Styles for selected gender */
.gender-box.selected,
.marital-box.selected,
.employment-box.selected,
.education-box.selected {
  border: 2px solid #002b50;
  font-size: bold;
  background-color: #3895b4;
  color: #ffffff;
}

/* Styles for unselected gender */
.gender-box.unselected,
.marital-box.unselected,
.employment-box.unselected,
.education-box.unselected {
  background-color: #f0f0f0; /* Example: light gray */
  color: black;
  border: 2px solid #ccc; /* Light gray border */
}
.gender-box input,
.marital-box input {
  /* display: none; */
  position: absolute;
  top: 10px;
  right: 10px;
}

.gender-box label,
.marital-box label {
  /* background-color: #ccc; */
  width: 110px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.gender-box img,
.marital-box img {
  height: 80%;
  margin-top: 10px;
  /* height: 48px; */
  /* margin-bottom: 10px; */
}

.gender-box label span,
.marital-box label span {
  font-size: 16px;
}

.gender-input,
.marital-input {
  width: 20px;
  height: 20px;
}

@media (min-width: 300px) and (max-width: 499px) {
  .gender-container,
  .marital-container {
    margin: 7px 25px;
  }
}

/* form-2 section end */

/* form-3 section start */
.dob-box {
  /* padding: 0 0px 200px 0; */
}

/* form-3 section end */

/* form-4 section start */

.employment-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  align-items: center;
  margin: 25px 5px;
}

.employment-box {
  width: 170px;
  height: 170px;
  display: flex;
  /* position: relative; */
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* border: 2px solid #ccc; */
  border-radius: 10px;
  /* padding: 10px; */
  cursor: pointer;
  transition: 0.3s;

  background-color: #f0f0f0; /* Example: light gray */
  color: black;
  border: 2px solid #ccc; /* Light gray border */
}

.employment-box:hover {
  /* border: 2px solid #002b50; */
  background-color: #235d80;
  color: #fff;
  font-size: bold;
}

.employment-box input {
  /* display: none; */
  /* position: absolute; */
  /* top: 10px;
    right: 10px; */
}

.employment-box label {
  /* background-color: #ccc; */
  width: 170px;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.employment-box img {
  border: 2px solid #000;
  padding: 2px;
  border-radius: 50%;
  margin-top: 15px;
  height: 48px;
  margin-bottom: 10px;
}

.employment-box:hover.employment-box img {
  border: 2px solid #ffffff;
}

.employment-box label h6 {
  font-size: 12px;
  font-weight: bold;
  padding: 0 7px;
  margin: 0;
}

.employment-box label span {
  font-size: 11px;
  font-weight: 500;
  line-height: 12px;
  text-align: center;
  color: #475467;
  /* letter-spacing: 1px; */
  margin: 10px;
}

.employment-box:hover.employment-box label span {
  color: #ffffff;
}

.employment-input {
  width: 20px;
  height: 20px;
}

@media only screen and (min-width: 1200px) {
  .employment-container {
    padding: 0 90px;
  }
}

@media (min-width: 300px) and (max-width: 499px) {
  .employment-container {
    margin: 7px 0px;
    gap: 10px;
    justify-content: start;
  }

  .employment-box {
    width: 130px;
    /* height: 150px; */
    margin-bottom: 20px;
  }

  .employment-box label {
    width: 100px;
    /* height: 150px; */
    /* margin-bottom: 200px; */
  }

  .employment-box img {
    padding: 2px;
    margin-top: 10px;
    height: 48px;
    margin-bottom: 10px;
  }

  .employment-box label h6 {
    font-size: 12px;
    text-align: center;
    padding: 0 7px;
    margin: 0;
  }

  .employment-box label span {
    font-size: 8px;
    line-height: 12px;
    margin: 10px;
  }

  .employment-input {
    width: 15px;
    height: 15px;
  }
}

/* form-4 section end  */

/* form-5 section start */

/* education section start */

.education-container {
  flex-wrap: wrap;
  gap: 25px;
}

form:nth-child(3) {
  padding: 0;
}

.Employemnt-boxs,
.education-box {
  position: relative;
  width: 300px;
  height: 60px;
  border-radius: 8px;
  padding: 7px 10px;
  border: 1px solid #aeaeae;
  /* transition: .3s; */
  cursor: pointer;
  margin-top: 20px;
  background-color: #f0f0f0; /* Example: light gray */
  color: black;
  border: 2px solid #ccc; /* Light gray border */
}
.education-box.selected:hover {
  color: white;
}
.Employemnt-boxs .Employemnt-img,
.education-box .education-img {
  position: absolute;
  top: 20px;
  right: 10px;
}

/* .salaried:hover {
    background-color: rgb(255, 248, 225, 0.3);
}

.others:hover,
.undergraduate:hover {
    background-color: rgb(225, 255, 230, 0.3);
}

.postgraduate:hover,
.graduate:hover {
    background-color: rgb(233, 240, 255, 0.3);
} */

.education-text p {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.education-text p {
  font-size: 18px;
  margin: 0;
  font-weight: 400;
  padding: 8px 7px;
}

.Employemnt-container .input-box input[type="email"] {
  width: 240px;
}

.education-img input[type="radio"] {
  width: 20px;
  height: 20px;
}

/* .martial-container {
    gap: 25px;
}

.Martial-box {
    display: flex;
    gap: 7px;
    align-items: center;
}

.Martial-box label {
    font-size: 14px;
    font-weight: bold;
} */

/* small laptop device */
@media (min-width: 900px) and (max-width: 1200px) {
  .education-box {
    width: 270px;
  }
}

/* tablet device */
@media (min-width: 768px) and (max-width: 899px) {
  .education-container {
    /* flex-direction: column; */
    gap: 20px;
  }

  .education-box {
    width: 210px;
  }
}

@media (min-width: 500px) and (max-width: 767px) {
  .education-container {
    flex-direction: column;
  }
}

/* mobile device */
@media (min-width: 300px) and (max-width: 499px) {
  .education-container {
    flex-direction: column;
    gap: 0px;
  }

  .education-box {
    width: 280px;
  }

  .education-text p {
    font-size: 15px;
  }

  /* .martial-container {
        margin: 0 35px;
    } */
}

/* form-5 section end */

/* form section end  */

/* otp section start  */

#otp-section-container {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #000000d6;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 9999999;
}

.otp-section {
  position: absolute;
  background-color: #002b50;
  width: 100%;
  margin-top: 400px;

  /* top: 50%; left: 50%; */
  /* transform: translate(-50%, -50%); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.otp-container {
  position: absolute;
  /* width: 100%; */
  max-width: 300px;
  margin: 0;
  background-color: #ebebeb;
  border-radius: 8px;
  padding: 32px;
  /* top: 50%; */
}

.otp-section .otp-container h2 {
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 12px;
  text-align: center;
}

.otp-section .otp-container p:first-of-type {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #100f0f;
}

.otp-section .otp-container form {
  margin-top: 24px;
}

.otp-section .otp-container form .form-otp-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.otp-section .otp-container form .form-otp-box input {
  width: 50px;
  border: 1px solid #2a3485;
  outline: none;
  border-radius: 4px;
  background-color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 16px;
}

.otp-section .otp-container form .resend-otp-box {
  margin: 8px 0 24px;
  text-align: center;
}

.otp-section .otp-container form .resend-otp-box p {
  font-size: 14px;
  line-height: 21px;
}

.otp-section .otp-container form .resend-otp-box p span {
  color: #f47d20;
  font-weight: 600;
}

.otp-section .otp-container form button {
  width: 100%;
}

.otp-section .otp-container form .style_errorBox__Dmlgy {
  height: 10px;
}

.otp-section .otp-container form .style_error__ImPkb {
  text-align: center;
  letter-spacing: 1px;
  font-weight: 700;
  color: var(--globalRed);
  font-size: 14px;
  padding-left: 5px;
}

.otp-section .otp-container .otp-info-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: #475467;
  margin-top: 24px;
}

.otp-section .otp-container .otp-info-text svg {
  width: 24px;
  height: 24px;
  flex: 0 0 24px;
}

.otp-section .otp-container .otp-info-text span {
  font-size: 12px;
  line-height: 18px;
}

@media only screen and (max-width: 600px) {
  .otp-section {
    padding-inline: 16px;
  }

  .otp-section .otp-container {
    padding: 16px;
  }

  .otp-section .otp-container > h2 {
    font-size: 14px;
    line-height: 21px;
  }

  .otp-section .otp-container > p:first-of-type {
    font-size: 12px;
    line-height: 18px;
  }

  .otp-section .otp-container .otp-info-text {
    gap: 8px;
  }

  .otp-section .otp-container .otp-info-text svg {
    width: 20px;
    height: 20px;
    flex: 0 0 20px;
  }

  .otp-section .otp-container .otp-info-text span {
    text-align: left;
    font-size: 10px;
    line-height: 15px;
  }
}

/* otp section end  */

/* brand section start */
.brand-container {
  border: 1px solid #235d80;
  width: 850px;
  padding: 35px 25px;
  border-radius: 13px;
  align-items: center;
  justify-content: space-between;
}

.brand-logo-box {
  gap: 25px;
}

.brand-logo-box img {
  width: 80px;
}

.brand-logo-box h3 img {
  width: 25px;
}

.brand-loan-amount p {
  font-size: 20px;
  font-weight: 500px;
}

/* brand section end */

@media (min-width: 1010px) and (max-width: 1200px) {
  .brand-container {
    width: 650px;
  }
}

@media (min-width: 768px) and (max-width: 1009px) {
  .brand-container {
    width: 550px;
  }

  .brand-logo-box img {
    width: 50px;
  }

  .brand-logo-box h3 img {
    width: 20px;
  }

  .brand-logo-box h3 {
    font-size: 20px;
  }

  .brand-loan-amount p {
    font-size: 17px;
    font-weight: 500px;
  }
}

@media (min-width: 500px) and (max-width: 767px) {
}

@media (min-width: 300px) and (max-width: 767px) {
  .brand-container {
    width: 300px;
    flex-direction: column;
  }

  .brand-loan-amount {
    padding: 10px 0;
  }
}

/* credit meter section start */

.credit-meter-section {
  position: relative;
  width: 600px;
  width: 100%;
  background-color: #d8f2ff;
  padding: 20px 20px;
  border-radius: 5px;
}

.credit-meter-container {
  width: 100%;
  position: relative;
}

.credit-meter-price {
  position: relative;
  background-color: #f2fcff;
  border-radius: 5px;
}

.credit-meter-container .credit-meter-info span {
  padding: 7px 4px;
}

.loan-price {
  appearance: none;
  background: none;
  outline-style: none;
  border: none;
  width: 60px;
  font-weight: 700;
  /* font-size: 20px; */
  margin: 0;
}

.credit-meter-container .ranges {
  /* margin-bottom: 38px; */
  width: 100%;
  appearance: none;
  border-radius: 7px;
  outline: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), -5px -5px 10px #f2fcff11,
    inset 5px 5px 3px rgba(4, 0, 71, 0.1);
  background-color: #ffffff;
  overflow: hidden;
  bottom: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.credit-meter-container .ranges::-webkit-slider-thumb {
  appearance: none;
  width: 17px;
  height: 17px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #0c8de9;
  box-shadow: -507px 0 0 500px #0c8de9;
  cursor: pointer;
}

.credit-meter-container .range-text {
  /* text-align: center; */
  width: 160px;
  padding: 10px 7px;
  height: 80px;
  /* background-color: #00000058; */
  font-weight: 500;
  color: #141414;
  font-size: 14px;
}

.credit-meter-container .range-box {
  background: linear-gradient(90deg, red, orange, yellow, lightgreen, green);
  border-radius: 7px;
}

@media (min-width: 300px) and (max-width: 499px) {
  .credit-meter-info h6 {
    margin-top: 10px;
  }

  .credit-meter-section {
    min-width: 300px;
    max-width: 300px;
  }

  .credit-meter-info h6 {
    /* background-color: #000; */
    width: 350px;
  }

  .credit-meter-container .range-text {
    font-size: 10px;
  }

  .brand-section h3 {
    font-size: 20px;
  }
}

/* credit meter section end */

/* Terms and Conditions page Start  */

.container {
  min-width: 300px;
  max-width: 600px;
  margin: 50px auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.296);
  font-family: "poppins";
  font-weight: 500;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#terms {
  max-height: 500px;
  overflow-y: scroll;
  padding: 15px;
}

#terms p {
  font-size: 14px;
}

.actions {
  text-align: center;
  margin-top: 20px;
}

#declineBtn {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #dc3545;
}

#declineBtn a {
  text-decoration: none;
  color: #fff;
}

/* Terms and Conditions page end  */

.toggle-button {
  position: relative;
}

.toggle-checkbox {
  display: none;
}

.toggle-label {
  display: block;
  width: 40px;
  height: 20px;
  background-color: #66bb6a;
  /* background-color: #0085d7; */
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s;
}

.toggle-label::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 3px;
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #ccc;
}

.toggle-checkbox:checked + .toggle-label::after {
  transform: translateX(-20px);
}

.whatsapp-container,
.mob-center {
  justify-content: center;
}

.whatsapp-container p {
  color: #525252;
  font-size: 14px;
  padding: 12px 0 0 0;
}

@media (min-width: 300px) and (max-width: 490px) {
  .whatsapp-container p {
    padding: 0;
  }

  .whatsapp-container,
  .mob-center {
    justify-content: start;
    /* margin-left: 20px; */
  }
}
